
.top-navbar{
    padding: 0px;
}
.sidebar{
    padding:0px;
}
.dashboard-content{
    background-color: rgb(240, 238, 235);
    /* border: solid red; */
    /* min-height: calc(80vh - 56px); */
}
.my-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    width:100%;
    height: 5%;
    background-color: #343a40;
  }
  .copyright span{
      color: white;
  }

