.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 100px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 170px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 20px 10px;
  width: 80%;
  height: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
nav {
  display: flex !important;
  justify-content: flex-end !important;
  position: relative;
  z-index: 1;
}
nav > h3 {
  color: white;
}
.projectTitle {
  position: absolute;
  top: 15%;
  left: 1%;
}
.progressBar {
  width: 50%;
}
.projectName {
  margin: 20px auto 0px;
}
.logout-btn {
  margin: 0px 20px;
}
